/*
	Copyight: Solutions Nitriques 2011
	License: MIT, see the LICENCE file
*/

/**
 * CSS for the blueprintsection driver
 * 
 * @author nicolas
 */

div.compact label.oembed-other-title {
	width:90%;
}

.oembed-params-settings {
	margin: 0 0 1.5em 0;
}
